.Header-main-component {
    margin: 1.25rem 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    border-radius: 4px;
    align-items: center;
  }

  .Header-main-component:hover {
    cursor: pointer;
    background-color: #CBDFFB;
    width: 100%;
    border-radius: 5px;
    padding: 0px 6px;
    transition: 0.4s;
    color: blue;
  }

    .Logo:hover {
      cursor: pointer;
      padding-left: 0px 6px;
      color: blue;
      font-size: 18px;
      
    }