.login_component {
    margin: 1.25rem 0px;
    width: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #808CFF;
    margin-left: 35px;
}

.Eachpartlogin {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 0.6rem 0px;
}

.login_spaces {
    width: 100%;
}

#loginemail, #loginpassword, #loginname {
    height: 1.5rem;
    width: 60%;
}


.login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 0px;
    width: 100%;
}


.Displayseperatley {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.login_button {
    padding: 5px;
    margin: 5px;
    text-decoration: underline;
    text-shadow: 1px 0px 2px #4d53f1;;
}