.Showingmiddlepage {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 8em;
}
.HolePart {
    border: 1px solid #808880;
    border-radius: 8px;
    box-shadow: 2px 1px 8px 1px #808cff;
    height: 9rem;
    text-align: center;
    display: flex;
    width: 26rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 501px) {
  .PasswordChange {
        margin-left: 1rem !important;
    }
    .HolePart {
        width: 13rem;
    }
    .main_total_container {
        height: 100%;
    }
}

/* /password cahnging div */

.PasswordChange {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}

.MakeGap {
    padding: 5px 0px;
}

.MakeGap > input, .MakeGap > button {
    height: 1.2rem;
}
