body {
  margin: 0px;
  padding: 0px;
}

.Header_main {
  position: fixed;  
  height: 100%;
  
}


.groups_logo > img {
  height: 24px;
  width: 24px;
}

.Header-main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: baseline;
  height: 79%;
  padding: 4px;
  border-right: 4px solid green;
  
}

.Logo {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}


.Component {
  margin-left: 7em;
}


.main_total_container {
  width: 70%;
  height: 79%;
  top: 0;
  bottom:0;
  position:absolute;
  overflow-y:scroll;
  overflow-x:hidden;  
  margin: 3% 10%;
}




/* groups styling */

/* adding input box stylings */
.Adding-data-div {
  width: 100%;
  display: flex;
}

.add-group-input {
  width: 80%;
}

.add-group-input > input {
  width: 70%;
  border: 2px solid #5461d7;
  height: 1.8rem;
  border-radius: 4px;
  font-size: 20px;
  font-family: emoji;
}

.Heading_of_groups {
  font-size: 30px;
  font-weight: 600;
  font-family: math;
  color: #051eff;
}

.add-group-input > input:focus {
  border: 3px solid blue;
  outline: none;
}


.add-group-btn {
  width: 15%;
}

.add-group-btn > button{
  background-color: #5461d7;
  width: 100%;
  border: 2px solid #5461d7;
  border-radius: 4px;
  height: 2rem;
  color: white;
}

.add-group-btn > button:hover{
  height: 2.2rem;
  transform: 0.4s;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #808CFF;
  cursor: pointer;
  color: black;
}

/* group name details  */

.each_group {
  display: flex;
  justify-content: space-around;
}



.Main_grops_page {
  text-align: center;
}

.grpnames {
  background-color: #FFF9F9;
  padding: 0.6rem;
  margin: 0.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #808CFF;
}

.grpnames:hover {
  padding: 0.7rem;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 3px 3px 3px 3px #5461d7;
}

