body {
  margin: 0px;
  padding: 0px;
}

.Header_main {
  position: fixed;  
  height: 100%;
  
}


.groups_logo > img {
  height: 24px;
  width: 24px;
}

.Header-main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: baseline;
  height: 79%;
  padding: 4px;
  border-right: 4px solid green;
  
}

.Logo {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
}

.Header-main-component, .login_logout_buttons {
  margin: 1.25rem 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Component {
  margin-left: 7em;
}


.main_total_container {
  width: 70%;
  height: 79%;
  top: 0;
  bottom:0;
  position:absolute;
  overflow-y:scroll;
  overflow-x:hidden;  
  margin: 3% 10%;
}

/* groups styling */

.each_group {
  display: flex;
  justify-content: space-around;
}

.user_names {
  /* align-items: r; */
}

.Main_grops_page {
  text-align: center;
}

.grpnames {
  background-color: #FFF9F9;
  padding: 0.6rem;
  margin: 0.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #808CFF;
}

.grpnames:hover {
  padding: 0.7rem;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 3px 3px 3px 3px #5461d7;
}